<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NPCコマ作成_vue</title>
  <link rel="stylesheet" href="style.css" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="root">
    <main>
      <!-- 左メニュー -->
      <aside>
        <h1>NPCコマ<br>作成ツール</h1>
        <button id="how2use" popovertarget="modal" class="aside-button" style="background-color: lightsalmon;">
          使い方
        </button>
        <button id="useful" popovertarget="modal" class="aside-button" style="background-color: lightsalmon;">
          便利機能
        </button>

        <button id="diceSetting" class="aside-button" 
          command="show-modal" commandfor="modal-dice-setting">
          <span class="material-symbols-outlined">settings</span>
          チャパレ設定
        </button>
        <button id="unitSetting" class="aside-button" 
          command="show-modal" commandfor="modal-unit-setting">
          <span class="material-symbols-outlined">settings</span>
          コマ設定
        </button>
        <button id="importUnit" class="aside-button" 
          command="show-modal" commandfor="modal-import-unit">
          <span class="material-symbols-outlined">input</span>
          コマをインポート
        </button>

        <button class="aside-button" @click="toTest">to test</button>
      </aside>

      <!-- 入力欄 -->
      <section style="width: 23rem;">
        <hgroup>
          <h2>入力</h2>
          <button id="clear">CLEAR</button>
        </hgroup>

        <!-- 名前欄 -->
        <div class="title" style="margin-block-start: 0;">
          名前/メモ欄
        </div>
        <textarea id="name"></textarea>

        <!-- 能力値 -->
        <div class="title">
          能力値 etc.
          <div class="tips">
            <span class="material-symbols-outlined">info</span>
            <div>
              <ul>
                <li class="ok">途中改行</li>
                <li class="ok">謎の半角/全角スペース</li>
                <li class="ok">全角英数字</li>
              </ul>
            </div>
          </div>
        </div>
        <textarea id="stats" @change="updateDefStats"></textarea>

        <!-- 技能・ダイス・choice -->
        <div class="title">
          技能・ダイス etc.
          <div class="tips">
            <span class="material-symbols-outlined">info</span>
            <div>
              <ul>
                <li class="ng">途中改行</li>
                <li class="ok">謎の半角/全角スペース</li>
                <li class="ok">全角の記号/英数字</li>
              </ul>
              <p style="margin-block: 0.5rem;">
                <span class="title">消す文字（正規表現）：</span>
              </p>
              <input type="text" v-model="settingDic.delChar" @input="updateSkillList" style="font-family: 'Zen Kaku Gothic New';field-sizing: content;">
            </div>
          </div>
        </div>
        <textarea id="skills" @input="updateSkillList"></textarea>
        <p class="annotation">※半角スペースはアンダーバー(_)で代記</p>

      </section>

      <div class="triangle"></div>

      <!-- 出力欄 -->
      <section style="width: max-content;">
        <h2>出力</h2>
        <div class="outputDiv">
          <div class="outputL">

            <table id="paramsTable" class="valueTable secretTable" style="grid-row: 1 / 3;">
              <caption>
                パラメータ
                <button class="icon-frame narrow" @click="addRow('params')">
                  <div class="icon icon-plus"></div>
                </button>
                <button class="icon-frame narrow" @click="deleteRow('params')">
                  <div class="icon icon-minus"></div>
                </button>
              </caption>
              <tbody>
                <tr v-for="[key,dic] in defStats.params" :key="dic.id" :class="{disable: dic.del}" @click="dic.del=!dic.del">
                  <td><input type="checkbox" v-model="dic.del"></td>
                  <th>{{key}}</th>
                  <td>{{dic.value}}</td>
                </tr>
                <tr 
                  v-for="(param, index) in exStats.params" 
                  :key="param.id"
                  :draggable="true"
                  :class="index === dragIndex && dragTarget===exStats.params ? 'dragging' : null"
                  @dragstart="dragStart(index, exStats.params)"
                  @dragenter="dragEnter(index, exStats.params)"
                  @dragover.prevent
                  @dragend="dragEnd"
                >
                  <td></td>
                  <th><input type="text" v-model="param.title"/></th>
                  <td><input type="text" v-model="param.value"/></td>
                </tr>
              </tbody>
            </table>

            <table id="statsTable" class="valueTable secretTable">
              <caption>
                ステータス
                <button class="icon-frame narrow" @click="addRow('stats')">
                  <div class="icon icon-plus"></div>
                </button>
                <button class="icon-frame narrow" @click="deleteRow('stats')">
                  <div class="icon icon-minus"></div>
                </button>
              </caption>
              <tbody>
                <tr v-for="[key,dic] in defStats.stats" :key="dic.id" :class="{disable: dic.del}" @click="dic.del=!dic.del">
                  <td><input type="checkbox" v-model="dic.del"></td>
                  <th>{{key}}</th>
                  <td>{{dic.value}}</td>
                </tr>
                <tr
                  v-for="(stat,index) in exStats.stats" 
                  :key="stat.id"
                  :draggable="true"
                  :class="index === dragIndex && dragTarget===exStats.stats ? 'dragging' : null"
                  @dragstart="dragStart(index, exStats.stats)"
                  @dragenter="dragEnter(index, exStats.stats)"
                  @dragover.prevent
                  @dragend="dragEnd"
                >
                  <td></td>
                  <th><input type="text" v-model="stat.title"/></th>
                  <td><input type="text" v-model="stat.value"/></td>
                </tr>
              </tbody>
            </table>

            <table id="elseTable" class="valueTable">
              <caption>他</caption>
              <tbody>
                <tr v-for="[key,dic] in defStats.else" :key="dic.id">
                  <th>{{key}}</th>
                  <td>{{dic.value}}</td>
                </tr>
              </tbody>
            </table>

            <table id="skillTable">
              <caption>技能</caption>
              <tbody>
                <tr 
                  v-for="(dic,index) in skillList" 
                  :key="dic.id"
                  :draggable="true"
                  :class="index === dragIndex && dragTarget===skillList ? 'dragging' : null"
                  @dragstart="dragStart(index, skillList)"
                  @dragenter="dragEnter(index, skillList)"
                  @dragover.prevent
                  @dragend="dragEnd"
                >
                  <th :class="{disable : dic.noname}" @click="dic.noname = !dic.noname">
                    {{dic.times ? `x${dic.times} ` : ''}}{{dic.name}}
                  </th>
                  <td>{{dic.value}}</td>
                </tr>
                <tr v-for="val in fillBlank_skill">
                  <th></th>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>

          <table id="chatTable" class="secretTable">
            <thead>
              <tr>
                <th>✕</th>
                <th>s</th>
                <th>chat palette</th>
              </tr>
            </thead>
            <tbody>
              <tr 
                v-for="(dic,index) in refChatList"
                :draggable="true"
                :class="index === dragIndex && dragTarget===refChatList ? 'dragging' : null"
                @dragstart="dragStart(index, refChatList)"
                @dragenter="dragEnter(index, refChatList)"
                @dragover.prevent
                @dragend="dragEnd"
              >
                <td><input type="checkbox" v-model="dic.del"></td>
                <td><input type="checkbox" v-model="dic.secret"></td>
                <td :class="{disable: dic.del}" @click="dic.del=!dic.del">
                  {{dic.times}}{{dic.secret ? 's' : ''}}{{dic.text}}
                </td>
              </tr>
              <tr v-for="val in fillBlank_chat">
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <div class="settingWrapper" name="chatTarget">
            <template v-for="data in chatTargets" :key="data.id">
              <span>{{data.name}}</span>
              <label class="toggle-button">
                <input type="checkbox" v-model="data.value"/>
                <span class="slider"></span>
              </label>
            </template>
          </div>

        </div>
      </section>

    </main>

    <footer>
      <div class="footerContent">
        <div>
          <h2>CONTACT</h2>
          <span style="font-size: larger;">セイル</span>
          <br>
          Booth: https://seils.booth.pm/
          <br>
          X(旧Twitter): @seilor0
        </div>
        <div>
          <h2>CAUTION</h2>
          <ul>
            <li>
              作業環境：Windows11 / Google Chrome
              <br>
              上記以外の環境はテストしていないため、不具合が出る可能性があります。
            </li>
            <li>
              当サイトの利用によるいかなるトラブルも作者は責任を負いません。
              <br>
              ご利用は自己責任にてお願いいたします。
            </li>
            <li>
              何かあれば左の連絡先までご連絡ください。
            </li>
          </ul>
        </div>
        <div>
          <h2>UPDATE</h2>
          <table>
            <thead>
              <tr>
                <th>date</th>
                <th>version</th>
                <th>detail</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <pre style="text-align: center;margin-block-end: unset;white-space: pre-wrap;">
当サイトは、「株式会社アークライト」及び「株式会社KADOKAWA」が権利を有する『クトゥルフ神話TRPG』シリーズの二次創作物です。
Call of Cthulhu is copyright ©1981, 2015, 2019 by Chaosium Inc. ;all rights reserved. Arranged by Arclight Inc. Call of Cthulhu is a registered trademark of Chaosium Inc.
PUBLISHED BY KADOKAWA CORPORATION 「クトゥルフ神話TRPG」「新クトゥルフ神話TRPG」</pre>
    </footer>

    <dialog id="modal" popover="auto">
      <header>
        <h2>Sample Modal Title</h2>
        <button class="icon-frame" popovertarget="modal" popovertargetaction="hide">
          <div class="icon icon-close"></div>
        </button>
      </header>
      <section></section>
    </dialog>

    <dialog id="modal-dice-setting" closedby="any">
      <header>
        <h2>チャパレ設定</h2>
        <button class="icon-frame" command="close" commandfor="modal-dice-setting">
          <div class="icon icon-close"></div>
        </button>
      </header>
      <section class="settingWrapper" style="width: 22rem;">
        <span>システム</span>
        <label class="toggle-button">
          <input type="checkbox" v-model="is6th">
          <span class="slider"></span>
          <span class="checked">CoC7th</span>
          <span class="not-checked">CoC6th</span>
        </label>
        <span>判定ダイス</span>
        <select v-model="settingDic.dice">
          <option value="CC">CC</option>
          <option value="CCB">CCB</option>
          <option value="1d100">1d100</option>
        </select>
        <span>形式</span>
        <select v-model="settingDic.rollStyle">
          <option value="normal">{{settingDic.dice}}&lt;=70 【...】</option>
          <option value="secret">s{{settingDic.dice}}&lt;=70 【...】</option>
          <option value="@">{{settingDic.dice}} 【...】@70</option>
        </select>
        <span></span>
        <div class="settingWrapper" style="margin: 0;column-gap: 0.5rem;">
          <span>単体ダイス</span>
          <label class="toggle-button">
            <input type="checkbox" v-model="settingDic.secretSingleDice">
            <span class="slider"></span>
            <span class="checked">シークレット</span>
            <span class="not-checked">オープン</span>
          </label>
          <span>choice</span>
          <label class="toggle-button">
            <input type="checkbox" v-model="settingDic.secretChoice">
            <span class="slider"></span>
            <span class="checked">シークレット</span>
            <span class="not-checked">オープン</span>
          </label>
        </div>
      </section>
    </dialog>

    <dialog id="modal-unit-setting" closedby="any">
      <header>
        <h2>キャラコマ設定</h2>
        <button class="icon-frame" popovertarget="modal" popovertargetaction="hide">
          <div class="icon icon-close"></div>
        </button>
      </header>
      <section style="max-width: 22rem;">
        <div class="settingWrapper">
          <span>ステータス</span>
          <label class="toggle-button">
            <input type="checkbox">
            <span class="slider"></span>
            <span class="checked">秘匿</span>
            <span class="not-checked">公開</span>
          </label>
          <span>発言アイコン</span>
          <label class="toggle-button">
            <input type="checkbox">
            <span class="slider"></span>
            <span class="checked">非表示</span>
            <span class="not-checked">表示</span>
          </label>
          <span>コマ一覧</span>
          <label class="toggle-button">
            <input type="checkbox">
            <span class="slider"></span>
            <span class="checked">非表示</span>
            <span class="not-checked">表示</span>
          </label>
        </div>
        <hr>
        <div class="settingWrapper">
          <span>発言カラー</span>
          <div style="display: grid;grid-template-columns: auto auto 1fr;gap: 0.5rem;align-items: center;">
            <input type="color" v-model="settingDic.color">
            <input type="text" v-model="settingDic.color" style="background-color: transparent;height: stretch;width: 7ch;" >
            <p class="ccfoliaName" :style="{color: settingDic.color}">探索者名</p>
          </div>
          <span>コマサイズ</span>
          <div style="display: flex;gap: 0.5rem;">
            <input type="range" min="1" max="30" v-model="settingDic.unitSize" style="flex-grow: 1">
            <input type="number" min="1" v-model="settingDic.unitSize">
          </div>
          <span>差分<span style="font-size: smaller;"> (ラベル)</span></span>
          <textarea></textarea>
        </div>
      </section>
    </dialog>

    <dialog id="modal-import-unit" closedby="any">
      <header>
        <h2>ココフォリアコマをインポート</h2>
        <button class="icon-frame" popovertarget="modal" popovertargetaction="hide">
          <div class="icon icon-close"></div>
        </button>
      </header>
      <section>
        <textarea style="width: 20rem;max-height: 20rem;"></textarea>
      </section>
    </dialog>

    <div class="buttonWrap">
      <button id="exUnit" class="export">ココフォリアコマ出力</button>
      <button id="exChat" class="export">チャパレ出力</button>
    </div>
  </div>
  
  <!-- <script type="module" src="./code.js"></script> -->
  <script type="module" src="./code_vue.js"></script>
</body>

</html>